<%- include('components/navbar') %>
    <form action="" method="get">
        <input type="text" placeholder="enter your name here" name="name" />
        <h1>hello this is love babbary and kaise ho saare</h1>
        <input type="number" placeholder="enter you age" name="age" />
        <button type="submit">submit</button>
    </form>
    <form action="get">

    </form>